/* Desktop - Alert */

.container {
    position: relative;
    width: 1440px;
    height: 960px;

    background: #FFFFFF;

}

.shade {
    background: #121212;
    opacity: 0.3;
}

/* img-hero */
.skill-image {
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;

    background: url(image.png);
}



.content {
    position: absolute;
    width: 380px;
    height: 250px;
    left: 830px;
    top: 136px;

    .title {

        height: 50px;
        left: calc(50% - 380px/2 + 300px);
        top: calc(50% - 50px/2 - 319px);

        /* T1 */
        .titleup {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 120%;
            /* or 50px */


            /* Dark #1 */

            color: #121212;
        }

    }

    /* copy */


    .content2 {

        width: 380px;
        height: 196px;
        left: calc(50% - 380px/2 + 300px);
        top: calc(50% - 96px/2 - 222px);


        /* Body Copy */
        .subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            padding-block:  20px;
            /* or 24px */


            /* Dark #1 */

            color: #121212;
        }
    }

    .button {
        display: inline;
        position: absolute;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 10px;
        @extend.btn;

        .btn {
            position: relative;
            
            width: 128px;
            height: 48px;
            
            

            /* Primary #1 */

            background: #E4C1AE;
            border-radius: 32px;
            border-style: none;
        }

    }
}


/*Alert*/

.popup {

    position: absolute;
    width: 920px;
    height: 210px;
    left: 260px;
    top: 42.5%;

    background: #ffffff;
    visibility:hidden ;

    h2 {
        /* T1 */
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        /* or 50px */
    
    
        /* Dark #1 */
    
        color: #121212;
    }
    p {
        /* copy */
    
    
        position: absolute;
        width: 380px;
        height: 24px;
        left: calc(50% - 380px/2 - 175px);
        top: calc(50% - 24px/2 + 37px);
    
    
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
    
    
        /* Dark #1 */
    
        color: #121212;
    
    }
    
    
}
.open-popup {
    @extend .popup;
    visibility: visible;
    background: #ffffff;
    border-style: none;
    border-width: 2px;
    box-shadow: -2px 4px 10px rgba(200, 124, 142, 0.49);
    padding-inline: 50px;
    button {
        position: relative;
        left: 102%;
        top: -53%;
        border-style: none;
        background: none;
        font-size: 20px;
    }
    h4 {
        margin: 0;
    }
    p {
        margin: 0;
        left: 50px;
    }
}

.shadeAfterClick{
    position: static;
    width: 110%;
    height: 100%;
    opacity: 0.6;
    filter: blur(1.5px); 
    background: rgba(0, 0, 0, 0.15);
    button{
        opacity: 1;
    }
}

